body {
  margin: 2em;
  background-color: red;
}

h1 {
   font-family: 'Lexend Mega', sans-serif;
  font-weight: bold;
  font-size: 90px;
text-align: center;
}

#pad {
  position: absolute;
  width: 80%;
  height: 500px;
  top: calc(32% - 100px);
  right: 10%;
  bottom: 0px;
  border: 1px solid #982626;
  background-color: #fff;
  border-radius: 300px;
  background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/padded-light.png");
}

#pad2:hover {
  background-color: #a0f099;
  color: #000;
  cursor: pointer;
  border: 1px solid #000000;
  background-color: #A70B0B;
}

#pad2 {
  position: absolute;
  width: 75%;
  height: 300px;
  top: calc(40% - 80px);
  right: 12%;
  bottom: 0px;
  border: 1px solid #982626;
  background-color: #fff;
  border-radius: 300px;
   background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/padded-light.png");
}

  .o {
  margin-top: 50px;
  padding: 20px;
  font-size: 18px;
}

.octagon {
  width: 40px !important;
  height: 20px;
  background: #fff;
  position: relative;
  border-radius: 300px;
  background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/pinstripe-dark.png");
}

.octagon:before {
  content: "";
  position: absolute;
  top: -35px;
  left: 370px;
  width: 800px;
  height: 0px;
  border-bottom: 150px solid;
  border-bottom-color: inherit;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 1;
  border-radius: 2px;
  background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/pinstripe-dark.png");
}

.octagon:after {
  content: "";
  position: absolute;
  bottom: -765px;
  right: -1175px;
  width: 800px;
  height: 0px;
  border-top: 150px solid;
  border-top-color: inherit;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  z-index: 1;
  border-radius: 2px;
background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/pinstripe-dark.png");
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

    body {
  font-family: font-family: 'Courgette', cursive;
  margin: 2em;
  background-color: red;
}

h1 {
   font-family: font-family: 'Courgette', cursive;
  font-weight: bold;
  font-size: 40px;
text-align: center;
}

#pad {
  position: absolute;
  width: 90%;
  height: 200px;
  top: calc(50% - 100px);
  right: 5%;
  bottom: 0px;
  border: 1px solid #982626;
  background-color: #fff;
  border-radius: 300px;
}

#pad2:hover {
  background-color: #a0f099;
  color: #000;
  cursor: pointer;
  border: 1px solid #000000;
  background-color: #A70B0B;
}

#pad2 {
  position: absolute;
  width: 75%;
  height: 120px;
  top: calc(52% - 80px);
  right: 12%;
  bottom: 0px;
  border: 1px solid #982626;
  background-color: #fff;
  border-radius: 300px;
}

  .o {
  margin-top: 50px;
  padding: 20px;
  font-size: 18px;
}

.octagon {
  width: 40px !important;
  height: 20px;
  background: #fff;
  position: relative;
  border-radius: 300px;
}

.octagon:before {
  content: "";
  position: absolute;
  top: 40px;
  left: 50px;
  width: 200px;
  height: 0px;
  border-bottom: 150px solid;
  border-bottom-color: inherit;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 1;
  border-radius: 2px;
}

.octagon:after {
  content: "";
  position: absolute;
  bottom: -540px;
  right: -260px;
  width: 200px;
  height: 0px;
  border-top: 150px solid;
  border-top-color: inherit;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  z-index: 1;
  border-radius: 2px;
}
