html{
font-family: 'Big Shoulders Display', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Prata', serif;
margin: 0 200px 0 200px;
line-height: 1.6;
text-align: center;
background-color: #E2FF9E;
}

h1{
    text-align: center;
    color: #E400FF;
    text-shadow: 4px 4px #000;
    font-weight: bold;
    font-family: 'Shrikhand', cursive;
    font-size: 70px;

}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
}

h3 {
  text-align: left;
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

@media screen and (min-width: 600px), screen and (orientation: landscape)
    body {
        font-size: 12pt;
    }
