html {
	background-color: pink;
	font-family: 'Big Shoulders Display', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Prata', serif;
  margin: 0 200px 0 200px;
  font-size: 100%;
  line-height: 1.6;
}

#lyrics {
  text-align: center;
}
