body {
  font-family: 'Arial', sans-serif;
  margin: 2em;
  background-color: #edca9f;
  text-align: center;
}

h4{
  font-family: 'Courier New', monospace;
  text-align: left;
}

h3 {
  font-family: 'Verdana', sans-serif;
  font-style: italic;
  color: #fff3db;
    text-shadow: 2px 2px #a88154;
    font-weight: bold;
  text-align: left;
}

h2 {
  font-family: 'Georgia', serif;
}

h1{
       text-align: center;
    color: #fff3db;
    text-shadow: 4px 4px #a88154;
    font-weight: bold;
    font-family: 'Garamond', serif;
    font-size: 60px;

}
