body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #F2FF9E;
}

h1 {
  font-family: 'Courgette', cursive;
  color: black;
  font-size: 80px;
  text-align: center;
}

h3 {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 30px;
}
