body {
    background-color: #0055FF;
}

h1 {
  font-family: 'Prata', serif;
  font-size: 70px;
}

.canvas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    text-align: center;
    color: #7EA9FE;
    font-family: sans-serif;
    text-transform: uppercase;
}

.phrase1{
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    -o-transition: all 6s ease-in-out;
    padding: 20px;
}

.phrase1:hover {
    color: #0055FF;
    cursor: pointer;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}
